/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind__bottom__0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout__padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding__0 {
    padding: 0px;
}
/* header section start */
.header__section {
    width: 100%;
    float: left;
    background-image: linear-gradient(-13deg, #ffffff 30%, #363078 20%);
    position: relative;
    overflow-x: hidden; 
}

.header__bg {
    width: 100%;
    float: left;
}

.header__section::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 420px;
    right: initial;
    top: 0px;
    margin: 0 auto;
    display: flex;
    height: 500px;
    left: 0;
}

.header__section.header__bg::after {
    height: 100%;
}


.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg {
    position: relative;
    z-index: 9;
}

.logo {
    width: 35%;
    float: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    color: #e0dcdc !important;
    display: flex;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #e8b238 !important;
}

.navbar-nav .nav-item.active a{
    color: #e8b238 !important;
}

.login__menu{
    width: 100%;
    display: flex;
}
.login__menu ul{
    margin: 0px; 
    padding: 0px;
}
.login__menu li{
    float: left;
    font-size: 18px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
.login__menu li a{

    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    width: 5%;
    float: right;
    text-align: right;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* header section end */

/* banner section start */
.banner__section {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.best__text {
    width: 90px;
    margin: 0 auto;
    text-align: center;
    background-color: #e8b238;
    color: #363078;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    padding: 26px 0px;
    text-transform: uppercase;
    left: -15px;
    position: relative;
}
.image__1 {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
.banner__taital {
    width: 50%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Raleway ExtraBold', sans-serif;
    padding-top: 40px;
}

.banner__text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.contact__bt {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.contact__bt a {
    width: 180px;
    float: left;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #e8b238;
    padding: 8px 0px;
}

.contact__bt a:hover {
    color: #000;
    background-color: #ffffff;
}


#main__slider a.carousel-control-prev {
    left: 88%;
    top: 60%;
    background-color: #e8b238;
    color: #ffffff;
}

#main__slider a.carousel-control-next {
    position: absolute;
    right: 20px;
    top: 60%;
}

#main__slider .carousel-control-prev,
#main__slider .carousel-control-next {
    width: 68px;
    height: 68px;
    background: #363078;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main__slider .carousel-control-prev:hover,
#main__slider .carousel-control-next:hover,
#main__slider .carousel-control-prev:focus,
#main__slider .carousel-control-next:focus {
    background-color: #e8b238;
    color: #ffffff;
}
/* banner section end */

/* cycle section start */
.cycle__section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.cycle__taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.cycle__text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #242424;
    text-align: center;
    margin: 0px;
}
.cycle__section__2{
    width: 100%;
    float: left;
}
.box__main{
    width: 100%;
    float: left;
    position: relative;
}
.number__text {
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #363078;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    float: right;
    margin-right: 140px;
    margin-top: 60px;
}
.image__2 {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 100px;
}
.box__main:after{
    content: '';
    background-color: #e8b238;
    position: absolute;
    width: 420px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    height: 600px;
    left: 0;
    z-index: -1;
clip-path: polygon(0 0, 75% 8%, 75% 80%, 0% 100%);

}
.cycles__text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1c1c1c;
    font-weight: bold;
    text-align: right;
    padding-top: 40px;
}
.cycles__text:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #363078;
    left: 0px;
    right: initial;
    margin: 0 auto;
    top: 70px;
}
.lorem__text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    margin: 0px; 
    padding-top: 40px;   
}

.btn__main{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.buy__bt{
    width: 170px;
    float: left;
}
.buy__bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #363078;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
}
.buy__bt a:hover{
    color: #ffffff;
    background-color: #e8b238;
}

.price__text {
    width: 100%;
    float: right;
    text-align: right;
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    padding-top: 8px;
}
.cycle__section__3{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.box__main__3{
    width: 100%;
    float: left;
    position: relative;
}
.box__main__3:after {
    content: '';
    background-color: #e8b238;
    position: absolute;
    width: 420px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    height: 530px;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 65% 8%, 64% 80%, 0% 100%);
}
.number__text__2 {
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #363078;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    float: right;
    margin-right: 185px;
    margin-top: 60px;
}
.read__btn__main {
    width: 100%;
    float: left;
    margin-top: 200px;

}
.read__bt{
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.read__bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #e8b238;
    padding: 8px 5px;
    text-align: center;
}
.read__bt a:hover{
    color: #ffffff;
    background-color: #363078;
}

/* cycle section end */

/* about section start */
.about__section {
    width: 100%;
    float: left;
    background-image: url(../images/about-bg.png);
    height: auto;
    padding: 90px 0px;
    background-size: 100%;
    background-repeat: no-repeat;

}
.about__taital{
    width: 100%;
    font-size: 40px;
    color: #1c1c1c;
    text-align: center;
    font-weight: bold;
}
.about__text{
    width: 70%;
    font-size: 16px;
    color: #1c1c1c;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.about__main {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: 60px;

} .image__5{ width: 40%; margin: 0 auto; text-align: center; padding-top:
100px; position: relative; z-index: 1; } 

.about__main::before {

    content: '';
    position: absolute;
    width: 400px;
    right: 0px;
    top: 67px;
    margin: 0 auto;
    display: flex;
    height: 355px;
    left: -180px;
    box-shadow: 0 35px 25px -20px 

    rgba(0,0,0,0.2);
    transform: rotate(-13deg) skewx(-1.2deg);

}

.about__main::after {

    content: '';
    background-color: 

#ffffff;

position: absolute;

width: 500px;

right: 0px;

top: 30px;

margin: 0 auto;

display: flex;

height: 440px;

left: 0;

clip-path: polygon(0 0px, 80% 3%, 80% 78%, 0% 100%);

-webkit-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);

-moz-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);

box-shadow: 0px 8px 7px 3px

    rgba(0,0,0,0.31);

}

.read__bt__1{
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.read__bt__1 a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #e8b238;
    padding: 8px 5px;
    text-align: center;
    margin-top: 80px;
}
.read__bt__1 a:hover{
    color: #ffffff;
    background-color: #363078;
}


/* about section end */

/* client section start */
.client__section {
    width: 100%;
    float: left;
    padding-bottom: 100px;

}

.client__main {
    width: 100%;
    float: left;
    border: 1px solid #e4e4e4;
    border-style: dotted;
    padding: 40px 30px 100px 30px;
}

.client__taital{
   width: 100%;
    font-size: 40px;
    color: #303030;
    text-align: center;
    font-weight: bold;
}
.client__section__2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);
    box-shadow: 0px 1px 8px 3px

    rgba(0,0,0,0.31);
    padding: 10px;
    margin-top: 30px;
    display: flex;

}
.client__left{
    width: 30%;
}
.client__right {
    width: 70%;
    padding: 50px 0px 50px 40px;
}
.client__img{
    width: 100%;
}
.quote__icon{
    width: 100%;
}
.client__text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333233;
    margin: 0px;
    padding-top: 20px;
}
.client__name{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #1d1f1e;
    font-weight: bold;
    padding-top: 20px;
}



#my__slider a.carousel-control-prev {
    left: 640px;
    top: 93%;
    background-color: #e8b238;
    color: #ffffff;
}

#my__slider a.carousel-control-next {
    position: absolute;
    right: 570px;
    top: 93%;
}

#my__slider .carousel-control-prev,
#my__slider .carousel-control-next {
    width: 68px;
    height: 68px;
    background: #191616;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#my__slider .carousel-control-prev:hover,
#my__slider .carousel-control-next:hover,
#my__slider .carousel-control-prev:focus,
#my__slider .carousel-control-next:focus {
    background-color: #e8b238;
    color: #ffffff;
}

/* client section end */

/* news section start*/
.news__section{
    width: 100%;
    float: left;
    background-color: #363078;
    height: auto;
    padding: 90px 0px;
}
.news__taital{
   width: 100%;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.news__text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;

}
.news__section__2{
    width: 100%;
    float: left;
}
.box__main__1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    border-radius: 5px;
}
.box__main__1:hover {
    box-shadow: 0px 1px 9px 1px #fff;
}

.frame {
      height: 200px;
      width: 100%;
      overflow: hidden;
    }
    .zoomout img {
      height: 300px;
      width: 100%;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
        transition: all 2s ease;
    }
    .zoomout img:hover {
      width: 100%;
      height:500px;
    }

.box__main__1:hover {
    box-shadow: 0px 1px 9px 1px #fff;
}
.box__main__1:hover .post__text{
    color: #000;
}
.padding__15 {
    width: 100%;
    float: left;
    padding: 20px 15px 40px 15px;
}
.speed__text{
    width: 100%;
    float: left;
    font-size: 22px;
    color: #161616;
}
.post__text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #dcdcd9;
}
.long__text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2a2929;
    margin: 0px;
    padding-top: 10px;
}

/* news section start*/

/* contact section start*/
.contact__section {
    width: 100%;
    float: left;
    background-color: #363078;
    height: auto;
    padding-bottom: 90px;
}

.contact__main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.request__text {
    width: 100%;
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.email-bt {
    color: #292929;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    background-color: #fefeff;
    border: 0px;
    border-radius: 30px;
}

input.email-bt::placeholder {
    color: #292929;
}

.massage-bt {
    color: #292929;
    width: 100%;
    height: 110px;
    font-size: 18px;
    padding: 40px 20px 10px;
    background-color: #fefeff;
    border: 0px;
    border-radius: 30px;
}

textarea#comment::placeholder {
    color: #292929;
}

.send__btn {
    width: 170px;
    text-align: center;
    margin: 0px auto;
}

.send__btn a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0px;
    background-color: #e8b238;
    border-radius: 10px;
}

.send__btn a:hover {
    color: #000;
    background-color: #ffffff;
}
/* contact section end*/

/* footer section start*/
.footer__section {
    width: 100%;
    float: left;
    background-color: #363078;
    height: auto;
    background-size: cover;
}
.map__main{
    width: 100%;
    float: left;
}
.call__text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #dfdfdf;
    padding-top: 10px;
}

.email__text {
    width: 70%;
    float: left;
    font-size: 16px;
    color: #9e9c9c;
    background-color: #ffffff;
    padding: 8px 15px;
    margin-top: 40px;
    border: 0px;
}

.subscribe__bt {
    width: 180px;
    float: left;
    margin-top: 15px;
}
.subscribe__bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #e8b238;
    padding: 8px;
    margin-top: 20px;
}
.subscribe__bt a:hover{
    color: #9e9c9c;
    background-color: #ffffff;
}




.call__text a{
    color: #dfdfdf;
}
.call__text a:hover{
    color: #e8b238;
}
.padding__left__0{
    padding-left: 15px;
}

.social__icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.social__icon ul {
    margin: 0px;
    padding: 0px;
}

.social__icon li {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.copyright__section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright__text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #151515;
    margin-left: 0px;
    margin-right: 0px;
}

.copyright__text a {
    color: #151515;
}

.copyright__text a:hover {
    color: #e8b238;
}

.margin__top__90 {
    margin-top: 90px;
}

.margin__90 {
    margin: 90px 0px;
}

#navbarSupportedContent{
    transform: translateX(100vw);
}

#navbarSupportedContent.nav-normal{
    transform: none;
}

/* contact section end*/



/*------------------------------------------------------------------- Responsive ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #my__slider a.carousel-control-prev {
        left: 455px;
        top: 94%;
    }
    #my__slider a.carousel-control-next {
        right: 400px;
        top: 94%;
    }
    #main__slider a.carousel-control-prev {
        left: 825px;
        top: 80%;
    }
    #main__slider a.carousel-control-next {
        right: 20px;
        top: 80%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 14px;
   }
   .login__menu li {
       float: left;
       font-size: 14px;
    }
    .header__section::after {
       width: 330px;
    }
    .header__section {
        background-image: linear-gradient(-13deg, #ffffff 25%, #363078 20%);
    }
    .best__text { left: 35px; }
    .image__1 {
        padding-top: 100px;
    }
    .number__text{
        margin-right: 95px;
    }
    .number__text__2{
        margin-right: 135px;
    }
    .client__right {
        width: 70%;
        padding: 70px 0px 50px 20px;

    }
    .subscribe__bt {
        float: none;
    }




}

@media (min-width: 768px) and (max-width: 991px) {

        #main__slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
#main__slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    display: block;
}
#main{
    display: none;
}
.navbar-light .navbar-toggler-icon {
    background-image:url(../images/toggle-icon1.png); 
    width: 40px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}
.navbar-toggler {
    padding: 0;
}
.header__section {
    background-image: linear-gradient(-13deg, #fff 13%, #363078 12%);
}
.banner__taital{
    padding-top: 0px;
}
.box__main::after { width: 340px; height: 500px; }
.number__text{ margin-right: 50px; }
.cycles__text::after { width: 90px; }
.image__2{ padding-left: 20px; }
.box__main__3::after {
    width: 330px;
    height: 380px;
}
.read__btn__main {
    margin-top: 70px;
}
.image__5 {
    width: 90%;
}
.about__main::after {
    width: 100%;
    height: 98%;
}
.about__main::before {
    width: 94%;
    top: 311px;
    height: 240px;
    left: -168px;
}
.about__section{
    background-size: cover;
    height: 828px;
    margin-bottom: 180px;
}
.client__right {
    width: 70%;
    padding: 20px 0px 0px 15px;
}
#my__slider a.carousel-control-prev {
    left: 330px;
}
#my__slider a.carousel-control-next {
    right: 300px;
}
.post__text{
    font-size: 14px;
}
.long__text{
    font-size: 14px;
}
.contact__section{
    padding-top: 0px;
}
.footer__section{
    padding-top: 0px;
    padding-bottom: 50px;
}
.email__text {
    width: 50%;
}
.subscribe__bt {
    float: none;
}


#navbarSupportedContent {
    transform: translateX(0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000 !important;;
    text-align: center;
    justify-content: center;
}

.login__menu{
    display: none;
}




}

@media (min-width: 576px) and (max-width: 767px) {
    #main__slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main__slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        display: block;
    }
    .bg-light { background-color: #ffffff !important;}
#main{
    display: none;
}
.navbar-light .navbar-toggler-icon {
    background-image:url(../images/toggle-icon1.png); 
    width: 40px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}
.navbar-toggler {
    padding: 0;
}
.banner__section .row{
    flex-direction: column-reverse;
}
.header__section{
    background: #363078;
}
.best__text {
    margin-top: 30px;
}
.header__section.header__bg::after {
    height: 100%;
}
.header__section::after { display: none; }
.box__main::after {
    width: 90%;
    height: 100%;
}
.number__text {
    margin-right: 115px;
}
.cycles__text::after { width: 120px; top: 60px;}
.cycles__text{ font-size: 26px; }
.cycle__section__3 .row {
    flex-direction: column-reverse;
}
.image__2 {
    padding-left: 20px;
}
.box__main__3::after {
width: 90%;
height: 110%;
}
.number__text__2 {
    margin-right: 160px;
    margin-top: 70px;
}
.box__main__3 {
    margin-bottom: 30px;
}
.cycle__section__2{
    padding-top: 0px;
}
.read__btn__main {
    margin-top: 50px;
}
.about__section{
    background-size: cover;
    height: 640px;
    margin-bottom: 180px;
}
.about__taital {
    font-size: 26px;
}
.about__text {
    width: 100%;
}
.image__5 {
    width: 90%;
}
.about__main::after {
    width: 100%;
    height: 98%;
}
.about__main::before {
    width: 89%;
    top: 190px;
    height: 240px;
    left: -144px;
}
.about__main{
    margin-top: -30px;
}
.client__taital{
    font-size: 40px;
}
.client__section__2 {
    width: 100%;
    display: initial;
    padding: 0px;
}
.client__left{
    width: 100%;
}
.client__right{
    width: 100%;
}
.client__main{
    padding: 40px 10px 30px 10px;
}
.news__text {
    width: 100%;
}
.box__main__1{
    margin-top: 20px;
}
.contact__main {
    width: 100%;
}
.contact__section{
    padding-bottom: 0px;
}
.footer__section{
    padding-bottom: 50px;
}

#my__slider a.carousel-control-prev {
    display: none;
}
#my__slider a.carousel-control-next {
    display: none;
}

#navbarSupportedContent {
    transform: translateX(0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000 !important;;
    text-align: center;
    justify-content: center;
}

.login__menu{
    display: none;
}

}

@media (max-width: 575px) {
    #main__slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main__slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        display: block;
    }
    .bg-light { background-color: #ffffff !important;}
.navbar-light .navbar-toggler-icon {
    background-image:url(../images/toggle-icon1.png); 
    width: 40px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}
.navbar-toggler {
    padding: 0;
}



#main{
    display: none;
}
.banner__section .row{
    flex-direction: column-reverse;
}
.header__section{
    background: #363078;
}
.best__text {
    margin-top: 30px;
}
.header__section.header__bg::after {
    height: 100%;
}
.header__section::after { display: none; }
.box__main::after {
    width: 90%;
    height: 100%;
}
.number__text {
    margin-right: 50px;
}
.cycles__text::after { width: 120px; top: 60px;}
.cycles__text{ font-size: 26px; }
.cycle__section__3 .row {
    flex-direction: column-reverse;
}
.image__2 {
    padding-left: 20px;
}
.box__main__3::after {
width: 90%;
height: 110%;
}
.number__text__2 {
    margin-right: 75px;
    margin-top: 40px;
}
.box__main__3 {
    margin-bottom: 30px;
}
.cycle__section__2{
    padding-top: 0px;
}
.read__btn__main {
    margin-top: 50px;
}
.about__section{
    background-size: cover;
    height: 640px;
    margin-bottom: 180px;
}
.about__taital {
    font-size: 26px;
}
.about__text {
    width: 100%;
}
.image__5 {
    width: 90%;
}
.about__main::after {
    width: 360px;
    height: 290px;
}
.about__main::before {
    width: 310px;
    top: 50px;
    height: 240px;
    left: -35px;
}
.client__taital{
    font-size: 26px;
}
.client__section__2 {
    width: 100%;
    display: initial;
    padding: 0px;
}
.client__left{
    width: 100%;
}
.client__right{
    width: 100%;
}
.client__main{
    padding: 40px 10px 30px 10px;
}
.news__text {
    width: 100%;
}
.box__main__1{
    margin-top: 20px;
}
.contact__main {
    width: 100%;
}
.contact__section{
    padding-bottom: 0px;
}
.footer__section{
    padding-bottom: 50px;
}

#my__slider a.carousel-control-prev {
    display: none;
}
#my__slider a.carousel-control-next {
    display: none;
}


#navbarSupportedContent {
    transform: translateX(0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000 !important;;
    text-align: center;
    justify-content: center;
}

.login__menu{
    display: none;
}


}